<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-button (click)="openWebView()">Show date picker Webview</ion-button>
    <ion-button (click)="open()">Show date picker browser</ion-button>
  </div>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
